<div class="<%= object.status %> agent block">
  <table>
    <tr>
      <td class="name"><img src="<%= asset('icons/command.png') %>" alt="Command"><%= object.agent %></td>
      <td class="info"><%= to_duration(object.execution_time) %></td>
    </tr>
  </table>
  <%= partial 'email/agent_options.html', object: object %>
</div>
